<form [formGroup]="recipeForm">
  <div class="card mt-3">
    <div class="card-header">
      <h5>Create new recipe</h5>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label class="col-md-4">Title</label>
        <input
          type="text"
          class="form-control"
          formControlName="title"
          #title
        />
        <div
          *ngIf="
            recipeForm.controls['title'].invalid &&
            (recipeForm.controls['title'].dirty ||
              recipeForm.controls['title'].touched)
          "
          class="alert alert-danger"
        >
          <div
            *ngIf="
              recipeForm.controls['title'].errors &&
              recipeForm.controls['title'].errors.required
            "
          >
            Title is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Description</label>
        <textarea
          class="form-control"
          rows="3"
          formControlName="description"
          #description
        ></textarea>
        <div
          *ngIf="
            recipeForm.controls['description'].invalid &&
            (recipeForm.controls['description'].dirty ||
              recipeForm.controls['description'].touched)
          "
          class="alert alert-danger"
        >
          <div
            *ngIf="
              recipeForm.controls['description'].errors &&
              recipeForm.controls['description'].errors.required
            "
          >
            Description is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Servings</label>
        <input
          type="number"
          class="form-control"
          formControlName="servings"
          #servings
        />
        <div
          *ngIf="
            recipeForm.controls['servings'].invalid &&
            (recipeForm.controls['servings'].dirty ||
              recipeForm.controls['servings'].touched)
          "
          class="alert alert-danger"
        >
          <div
            *ngIf="
              recipeForm.controls['servings'].errors &&
              recipeForm.controls['servings'].errors.required
            "
          >
            Servings is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Prep Time</label>
        <input
          type="number"
          class="form-control"
          formControlName="prepTime"
          #prepTime
        />
        <div
          *ngIf="
            recipeForm.controls['prepTime'].invalid &&
            (recipeForm.controls['prepTime'].dirty ||
              recipeForm.controls['prepTime'].touched)
          "
          class="alert alert-danger"
        >
          <div
            *ngIf="
              recipeForm.controls['prepTime'].errors &&
              recipeForm.controls['prepTime'].errors.required
            "
          >
            Prep Time is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Cook Time</label>
        <input
          type="number"
          class="form-control"
          formControlName="cookTime"
          #cookTime
        />
        <div
          *ngIf="
            recipeForm.controls['cookTime'].invalid &&
            (recipeForm.controls['cookTime'].dirty ||
              recipeForm.controls['cookTime'].touched)
          "
          class="alert alert-danger"
        >
          <div
            *ngIf="
              recipeForm.controls['cookTime'].errors &&
              recipeForm.controls['cookTime'].errors.required
            "
          >
            Prep Time is required.
          </div>
        </div>
      </div>

      <div class="card-group mt-2">
        <div class="card mx-1">
          <div class="card-header">Ingredients</div>
          <div class="card-body">
            <div formArrayName="ingredients">
              <div class="row">
                <label class="form-label col">Name</label>
                <label class="form-label col">Amount</label>
                <label class="form-label col">Measurement</label>
              </div>
              <ng-container
                *ngFor="
                  let ingredients of ingredientsFormGroups.controls;
                  let i = index
                "
              >
                <div [formGroupName]="i" class="form-group row my-1">
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ingredient name.."
                      formControlName="name"
                    />
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Amount"
                      formControlName="amount"
                    />
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Measurement"
                      formControlName="measurement"
                    />
                  </div>
                </div>
              </ng-container>
            </div>
            <button class="btn btn-primary" (click)="addIngredientField()">
              Add new ingredient
            </button>
          </div>
        </div>
      </div>

      <div class="card-group mt-2">
        <div class="card mx-1">
          <div class="card-header">Directions</div>
          <div class="card-body">
            <div formArrayName="directions">
              <div class="row">
                <label class="form-label col-10">Instructions</label>
                <label class="form-label col">Is optional?</label>
              </div>
              <ng-container
                *ngFor="
                  let ingredients of directionsFormGroups.controls;
                  let i = index
                "
              >
                <div [formGroupName]="i" class="form-group row my-1">
                  <div class="col-10">
                    <textarea
                      class="form-control"
                      placeholder="Instructions.."
                      formControlName="instructions"
                    ></textarea>
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                        formControlName="optional"
                      />
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <button class="btn btn-primary" (click)="addDirectionsField()">
              Add new instruction
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer text-right">
      <button type="submit" class="btn btn-danger mr-1" (click)="onSubmit()">
        Submit
      </button>
      <button class="btn btn-light mx-2" (click)="backToList()">Cancel</button>
    </div>
  </div>
</form>
