<div class="card-group">
  <div class="card mx-1" *ngFor="let recipe of recipeList$ | async">
    <img
      [src]="getRecipeThumbnail(recipe.images.small)"
      class="card-img-top"
      [alt]="recipe.title"
    />
    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <p class="card-text">
        {{ recipe.description }}
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated: {{ recipe.editDate }}</small>
      </p>
      <p class="card-text text-right">
        <button
          type="button"
          class="btn btn-primary pull-right"
          (click)="viewRecipe(recipe)"
        >
          View
        </button>
        <button type="button" class="btn btn-primary pull-right">Edit</button>
        <button type="button" class="btn btn-primary pull-right">Delete</button>
      </p>
    </div>
  </div>
</div>
